$secondary: #FFFAF2; 
$primary-1: #028090;
$primary-green: #6FCF97;

body {
    display: flex;
    margin: 0px;
    
    h1,h2 {
        font-family: 'Reem Kufi', sans-serif;
        text-align: center;
        font-size: 2.5rem;
        line-height: 2rem;
    }
    h3, p, li {
        font-family: 'Redressed', cursive;
        text-align: center;
        line-height: 2rem;
    }
}

.side-bar {
    display: flex;
    background-color: $secondary;
    flex-direction: column;
    width: 35vw;
    padding: 30px;
    height: 100%;
    
    .portfolio-image {
        background-image: url("/assets/portfolio.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-position-x: 30%;
        align-self: center;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
        .progress {
            display: flex;
            p{
                width: 5vw;
                margin: 1em;
                text-align: right;
            }
            .progress-bar {
                background-color: $primary-green;
                height: 16px;
                border-radius: 20px;
                flex-grow: 2;
                align-self: center;
            }
            .progress-70 {
                @extend .progress-bar;
                background-color: $primary-1;
                width: 70%;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 5vw;
    width: fit-content;
    font-size: 1.2rem;
    
    .experience {
        p, li {
            text-align: left;
        }
    }
}
