body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

body h1, body h2, body h3, body h4 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

body h1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 2em;
}

body h3 {
  font-style: italic;
  font-size: 2em;
  line-height: 2em;
}

body p, body li, body ul {
  font-family: 'Cambay', sans-serif;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFAF2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  padding: 20px;
}

.side-bar h1 {
  margin-bottom: 0;
}

.side-bar .portfolio-image {
  background-image: url("/assets/portfolio.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%;
  background-position-x: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.side-bar .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 2em;
}

.side-bar .skills .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-bar .skills .progress p {
  font-style: italic;
  width: 5vw;
  margin: 1em;
  text-align: center;
}

.side-bar .skills .progress .meter {
  height: 15px;
  border-radius: 25px;
  position: relative;
  max-width: 350px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: #d4d0cb;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

.side-bar .skills .progress .meter span {
  display: block;
  border-radius: 20px;
  height: 100%;
}

.side-bar .skills .progress .progress-bar {
  background-color: #028090;
  color: white;
  font-family: monospace;
  font-weight: 600;
  text-align: right;
  padding-right: 10px;
  font-size: 11px;
  line-height: 1.5;
}

section {
  margin-top: 20px;
}

section h3 {
  color: #028090;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}

.container .experience, .container .about-me {
  margin-left: 2rem;
  margin-right: 2rem;
}

.container .about-me {
  text-align: center;
}

.experience .timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid #d4d0cb;
}

.experience .timeline-item p {
  font-size: 1rem;
}

.experience .timeline-item h5 {
  font-family: 'Cambay', sans-serif;
}

.experience .timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .9rem;
}

.experience .timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid #d4d0cb;
  background: white;
}

.experience .timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, #d4d0cb 60%, rgba(212, 208, 203, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #d4d0cb), to(rgba(212, 208, 203, 0))) 1 100%;
     border-image: linear-gradient(to bottom, #d4d0cb 60%, rgba(212, 208, 203, 0)) 1 100%;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .project-container .project-card {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.77%, #FFFFFF), color-stop(43.75%, rgba(255, 255, 255, 0.603352)), to(rgba(255, 255, 255, 0))), #FFFAF2;
  background: linear-gradient(180deg, #FFFFFF 6.77%, rgba(255, 255, 255, 0.603352) 43.75%, rgba(255, 255, 255, 0) 100%), #FFFAF2;
  padding: 20px;
  width: 30vw;
  margin-top: 20px;
}

.projects .project-container .project-card p, .projects .project-container .project-card h4 {
  text-align: left;
}

.projects .project-container .project-card h4 {
  margin-top: 0;
}

.projects .project-container .project-card .project-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects .project-container .project-card .project-heading .project-title {
  margin-left: 20px;
}

.projects .project-container .project-card .project-heading .project-image img {
  width: 250px;
  height: 170px;
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 500px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 20px 40px rgba(61, 37, 37, 0.4);
          box-shadow: 10px 20px 40px rgba(61, 37, 37, 0.4);
}

.projects .project-container .project-card .project-heading .links img {
  margin: 4px;
}

@media (max-width: 1200px) {
  .side-bar .skills .progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-bar .skills .progress p {
    width: unset;
  }
  .side-bar .skills .progress .meter {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
  .projects .project-container .project-card {
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .projects .project-container .project-card .project-heading .project-image {
    display: none;
  }
  .projects .project-container .project-card .project-heading .links img {
    height: 48px;
  }
}
/*# sourceMappingURL=styles.css.map */