$secondary: #FFFAF2; 
$primary-1: #028090;
$primary-green: #6FCF97;
$progress-background: #d4d0cb;
$black: rgba(black, .7);

body {
    display: flex;
    margin: 0px;
    
    h1, h2, h3, h4 {
        font-family: 'Lato', sans-serif;
        text-align: center;
        
    }
    h1 {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 2em;
    }
    h3 {
        font-size: 1.3rem;
        line-height: 2em;
    }
    h5 {
        font-family: 'Lato', sans-serif;
        
    }
    p, li, ul {
        font-family: 'Cambay', sans-serif;
        line-height: 2rem;
        color: $black;
    }
}

.side-bar {
    display: flex;
    background-color: $secondary;
    flex-direction: column;
    width: 30vw;
    padding: 20px;
    
    h1 {
        margin-bottom: 0;
    }
    
    .portfolio-image {
        background-image: url("/assets/portfolio.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 10vw;
        width: 10vw;
        max-width: 256px;
        max-height: 256px;
        border-radius: 50%;
        background-position-x: 30%;
        align-self: center;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
        
        .progress {
            display: flex;
            justify-content: center;
            
            p{
                font-style: italic;
                width: 5vw;
                margin: 1em;
                text-align: center;
            }
            .meter { 
                height: 7px;
                border-radius: 25px;
                position: relative;
                max-width: 350px;
                flex: 2;
                background: $progress-background;
                align-self: center;
                span {
                    display: block;
                    border-radius: 20px;
                    height: 100%;
                }
            }
            
            .progress-bar {
                background-color: $primary-1;
                color: white;
                font-weight: 600;
                text-align: right;
                padding-right: 10px;
                font-size: 11px;
                line-height: 1.5;
                // -webkit-animation: progressBar 3s ease-in-out;
                // -webkit-animation-fill-mode:both; 
                // -moz-animation: progressBar 3s ease-in-out;
                // -moz-animation-fill-mode:both; 
                
                &::after {
                    width: 15px;
                    height: 15px;
                    display: block;
                    top: -6px;
                    position: relative;
                    left: 100%;                    
                    border-radius: 10px;
                    content: '';
                    border: 2px solid white;
                    background: $primary-1;
                }   
            }
        }
        
        .extra-skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1em;
            
            .capsule {
                background-color: $primary-1;
                color: white;
                padding: 6px 10px;
                border-radius: .8em;
                margin: 10px;
                font-size: .9rem;
            }
        }
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2em;
        .email, .location {
            display: flex;
            justify-content: center;
            p{ 
                display: flex;
                margin: unset;
                img {
                    position: relative;
                    margin-right: 8px;
                    top: 3px;
                }
            }
        }
        
        .location p img {
            top: 7px;
        }
        
        .social-media {
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            width: 70%;
            margin-top: 1em;
            flex-wrap: wrap;
            #twitter-green {
                position: relative;
                top: 2px;            
            }
            #gmail-green {
                &:parent {
                    display: none;
                }
                display: none;
                position: relative;
                width: 35px;
                top: 4px;
            }
        }
    }
}


section {
    margin-top: 20px;
    
    h1 {
        color: $primary-1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    width: fit-content;
    font-size: 1.2rem;
    
    .experience, .about-me, .education {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .about-me {
        text-align: center;
    }
}

// Timeline line and circle.
.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: $black;
    border-left: 2px solid $progress-background;
    
    p {
        font-size: 1rem;
    }
    
    &::before {
        content: attr(date-is);
        position: absolute;
        left: 2em;
        font-weight: bold;
        top: 1.3em;
        display: block;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: .9rem;
        color: $black;
    }
    
    &::after {
        width: 15px;
        height: 15px;
        display: block;
        top: 1em;
        position: absolute;
        left: -10px;
        border-radius: 10px;
        content: '';
        border: 2px solid white;
        background: $primary-1;
    }
    
    &:last-child {
        border-image: linear-gradient(
        to bottom,
        $progress-background 60%,
        rgba($progress-background, 0)) 1 100%;
    }
}

.education {
    
    .education-container{
        display: flex;
        justify-content: center;
        
        .right-section {
            position: relative;
            left: 5em;
        }
        
        .timeline-item {
            padding: 1em;
            
            h5 {
                margin-top: 10px;
                margin-left: 10px;
            }
            
            &::before {
                left: -17em;
                top: 2em;
                position: relative;
                text-align: right;
            }
            
            
            &::after {
                top: 2.4em;
            }
        }
    }    
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    .project-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .project-card {
            background: linear-gradient(180deg, #FFFFFF 6.77%, rgba(255, 255, 255, 0.603352) 43.75%, rgba(255, 255, 255, 0) 100%), $secondary;
            padding: 20px;
            width: 30vw;
            margin-top: 20px;
            
            & p, h4 {
                text-align: left;
            }
            
            & h4 {
                margin-top: 0;
            }
            
            .project-heading {
                display: flex;
                flex-direction: row;
                
                .project-title {
                    margin-left: 20px;
                }
                
                .project-image {
                    
                    img {
                        width: 250px;
                        height: 170px;
                        object-fit: fill;
                        max-width: 500px;
                        border-radius: 10px;
                        box-shadow: 10px 20px 40px rgba(61, 37, 37, 0.4);
                    }
                }
                
                .links {
                    img {
                        margin: 4px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .side-bar {
        .skills {
            .progress {
                flex-direction: column;
                
                p{
                    width: unset;
                }
                
                .meter {
                    align-self: unset;
                    flex: unset;
                }
            }
        }
    }
    
    .projects {
        .project-container {
            .project-card {
                width: 60vw;
            }
        }
    }
}

@media (max-width: 600px) {
    .side-bar {
        .contact {
            .email, .location {
                display: none;
            }
            .social-media #gmail-green {
                &:parent {
                    display: block;
                }
                display: block;
            }
        }
    }
    
    .projects {
        .project-container {
            .project-card {
                .project-heading {
                    .project-image {
                        display: none;
                    }
                    .links {
                        img {
                            height: 48px;
                        }
                    }
                }
            }
        }
    }
    
    .education {
        .education-container {
            .right-section {
                position: unset;
            }
            
            .timeline-item {
                &::before {
                    left: unset;
                    top: 6.5em;
                    text-align: unset;
                }
            }
        }
    }
}

@media (max-width: 333px) {
    .side-bar .contact .social-media #gmail-green {
        top: -3px;
    }
}
